.parallax-image {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.parallax_background,
.parallax_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
}

/* Fondo: se mueve lentamente hacia la derecha */
.parallax_background {
  z-index: 1;
  animation: moveBg 15s linear forwards;
}

/* Capa superior: se mueve lentamente hacia la izquierda */
.parallax_top {
  z-index: 10;
  animation: moveTop 16s linear forwards;

     @media (max-width: 700px) {
              animation: moveTopMobile 16s linear forwards;

    }
}

@keyframes moveBg {
  0%   { transform: translateX(0); }
  100% { transform: translateX(10px); }
}

@keyframes moveTop {
  0%   { transform: translateX(0px); }
  100% { transform: translateX(-20px); }
}
@keyframes moveTopMobile {
  0%   { transform: translateX(30px); }
  100% { transform: translateX(0px); }
}
