
.project-item {
    height: 300px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    transition: transform 0.3s ease;
    overflow: hidden;        /* recorta todo lo que desborde */

}
.project-item-name{
    height: 15%;
}

.project-item-description{
    height: 65%;
    overflow: hidden;        /* recorta todo lo que desborde */

}


.project-item p {
  white-space: normal;        /* permite el salto de línea */
  overflow-wrap: break-word;  /* palabra larga se rompe al final de línea */
  word-break: break-word;     /* soporte adicional para navegadores */
  hyphens: auto;              /* opcional: hyphenation automática */
} 

.project-item:hover {
    transform: scale(1.05);
}