.lang-container {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0px;
  gap: 4px;
  cursor: pointer;
  font-family: "Inter", system-ui, sans-serif;
  font-weight: 400;
  font-size:1.2rem;
  color: white;
  user-select: none;
  width: 150px;
}

.lang-arrow {
  transition: transform 0.2s ease;
}

.lang-arrow.open {
  transform: rotate(180deg);
}

.lang-dropdown {
  position: absolute;
  top: 130%;
  left: 65px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #ddd;
  border-radius: 6px;
  list-style: none;
  padding: 6px 0;
  margin: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.lang-dropdown li {
  padding: 6px 12px;
  transition: background 0.15s ease;
}

.lang-dropdown li:hover {
  background: #f3f3f32d;
}
